*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(pictures/makeup.jpg),
    radial-gradient(#b4b1b1, #757474);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
}
.start h2{
    text-align: center;
    margin-top: 60px;
}


.start span{
    color: rgb(73, 8, 57);
}

.clients img{
    width: 360px;
    height: 380px;
    text-align: center;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 35px;
    margin-right: 20px;
}

.clients{
    display: flex;
    font-size: 17px;
    text-align: center;
    justify-content: space-between;
    margin-left: 10px;
}

.secondmain{
    display: flex;
    font-size: 17px;
    text-align: center;
    justify-content: space-between;
    margin-left: 10px;
}

.secondmain img{
    width: 360px;
    height: 380px;
    text-align: center;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 35px;
    margin-right: 20px;
}

.customer img{
    width: 380px;
    height: 380px;
    border-radius: 10px;
    justify-content: space-between;
    margin-left: 1090px;
}


.View{
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}

.View a{
    text-decoration: none;
 
    color: rgb(82, 2, 68);
    font-style: unset;
}
.View :hover{
    color: rgb(99, 67, 8);
}