*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.secbar{
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(makeup-brush.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    color: rgb(59, 22, 59);
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
    font-weight: 400;
    font-weight: bold;
}

header :hover{
    color: rgb(196, 8, 186);
}

.logo{
    max-width: 80px;
    border-radius: 40%;

    
}

.textbox{
    color: rgb(58, 30, 56);
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    letter-spacing: 1,5px;
}

.textbox span{
    color: rgb(80, 18, 80);
}

.Container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
}

.Container .textbox{
    position: relative;
    max-width: 600px;
}

.sidepicture{
    padding-top: 200px;

}

.sidepicture img{
    float: right;
    width: 360px;
    height: 480px;
    border-radius: 50%;
}

.View{
    font-weight: bold;
    padding-top: 20px;
}

.View a{
    text-decoration: none;
    color: rgb(82, 2, 68);
    text-align: center;
    font-style: oblique;
}
.View :hover{
    color: rgb(99, 67, 8);
}

.footer{
    background-color: rgb(59, 24, 54);
    color: aliceblue;
    font-size: 15px;
    text-align: center;
}

.footer h5{
    text-align: left;
    letter-spacing: 2%;
}

.Icons{
    padding-left: 6%;
    padding-bottom: 10%;
}

.Icons i{
    font-size: 30px;
    font-weight: bold;
    padding-inline: 1%;
    background-color: rgb(255, 232, 190);
    color: rgb(0, 0, 0);
    border-radius: 15%;
}