*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------------------------the section which has the class name of secbar-------------*/
.secbar{
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(pictures/makeup-brush.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    color: rgb(59, 22, 59);
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
    font-weight: 400;
    font-weight: bold;
}

header :hover{
    color: rgb(196, 8, 186);
}
/*----------------------------------------------This is were my navigation style ends-----------------------------*/

.logo{
    max-width: 80px;
    border-radius: 40%;

    
}
/*-----------------------------------------The textbos is the class name of the contect that i put on the page---*/
.textbox{
    color: rgb(58, 30, 56);
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    letter-spacing: 1,5px;
}

.textbox span{
    color: rgb(80, 18, 80);
}

/*------the container of the textbox*/
.Container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
}

.Container .textbox{
    position: relative;
    max-width: 600px;
}
/*-----------were the container style ends--------*/


/*----------the side makeup picture--------------*/
.sidepicture{
    padding-top: 200px;

}

.sidepicture img{
    float: right;
    width: 360px;
    height: 480px;
    border-radius: 50%;
}



/*---------------Icons-------------------------*/
.Icons{
    padding-left: 6%;
    padding-bottom: 10%;
}

.Icons i{
    font-size: 30px;
    font-weight: bold;
    padding-inline: 1%;
    background-color: rgb(255, 232, 190);
    color: rgb(0, 0, 0);
    border-radius: 15%;
}



/*------------------The button----------------------------------*/
.active{
    width: 200px;
    font-weight: bold;
    padding-top: 5px;
    border-width: 0px;
    margin-top: 15px;
    background-color: rgb(241, 213, 236);
    font-style: inherit;
    border-radius: 5%;
}

.active a{
    text-decoration: none;
    color: rgb(37, 3, 32);
    font-size: 15px;
    font-style: unset;
    font-weight: bold;
    
}

.active a:hover{
    color: rgb(82, 54, 3);
}




/*---------------the start of the footer------------------*/
.footer{
    display: flex;
    width: 100%;
    height: 20%;
    font-size: 16px;
    text-align: center;
    background-color: rgb(241, 213, 236);
}

.footer .Details{
    width: 600px;
    height: 250px;
    font-size: 12;
    text-align: center;
    justify-content: space-between;
    color: rgb(39, 3, 21);
    padding: 50px;

}

.copyright h5{
    color: rgb(39, 3, 21);
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 30px;
    
}

/*----------------------The end of the footer--------------------*/


